html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  background-color: turquoise;
  padding: 20px;
  text-align: center;
}
.logo {
  margin: 0;
  color: white;
  font-size: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
.nav-item {
  margin-bottom: 5px;
}
img {
  max-width: 100%;
}
.hero-content {
  text-align: center;
}
.call-to-action {
  background-color: gold;
  padding: 20px;
}
.products {
  background-color: lightgrey;
  padding: 20px;
}
.about {
  background-color: rgb(50 100 200);
  color: white;
  padding: 20px;
}
footer {
  background-color: turquoise;
  height: 50px;
  text-align: right;
  padding: 20px 10px 0 0;
}
.container {
  max-width: 1000px;
  margin: auto;
}
.team-fun, .team-values, .team-meow {
  float: left;
  width: 33.33%;
  text-align: center;
  color: pink;
}
.product-wrapper {
  overflow: hidden;
}
.product-item {
    float: left;
    width: 33.33%;
    padding: 10px;
}
.product-item > img {
  border: 5px solid black;
}
.hero {
  overflow: hidden;
  background-color: rgb(50 100 200);
  color: white;
}
.hero-image {
  float: left;
  width: 60%;
}
.hero-content {
  float: left;
  width: 40%;
  font-size: 25px;
}
.hero-content > h2 {
  border: 0;
}
header {
  overflow: hidden;
  height: 60px;
  padding: 0 20px;
}
.logo {
  float: left;
  padding: 15px 0 0 0;
  font-size: 20px;
}
.navbar {
  float: right;
  padding: 0;
}
.nav-item {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
}
